<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS Styling -->
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0a6a8a1e29.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- Animate CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    {{!-- TitleFont --}}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spreddit</title>
</head>

<body class="body-login black">
    <header class="black grey-text">
        <h1 class="logo">Spreddit - Spreading the News Today.</h1>
    </header>
    {{!-- View Insert --}}
    <main>
        <div class="parallax-container">
            <div class="parallax"><img src="https://images.pexels.com/photos/261949/pexels-photo-261949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
        </div>
        <div class="section black">
            <div class="row container">
                {{{body}}}
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://images.pexels.com/photos/2538121/pexels-photo-2538121.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
        </div>
    </main>
    {{!-- insert git hub link --}}
    <footer>
        <div class="container center">
            <div class="row">
                <div class="col s6 offset-6">
                    <p class="flow-text grey-text darken-2">Jim Tatarakis &copy; 2019</p>
                </div>
            </div>
    </footer>

    <!-- JavaScript -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {{!-- Materialize: Auto Init animations --}}
    <script>M.AutoInit();</script>
    <!-- Custom JavaScript -->
    <script src="/assets/js/login.js"></script>
</body>

</html>