<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS Styling -->
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0a6a8a1e29.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- Animate CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    {{!-- TitleFont --}}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/scrape.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spreddit</title>
</head>

<body class="black scrape-body">
    <header class="white-text center">
        <h2 class="scrape-logo">Spreddit - Spreading the News Today.</h2>
    </header>

    <main>
        <div class="section section-view center">
            {{body}}
            <br><br><br><br><br>
            <div class="container center white-text darken-2">
                <div class="row">
                    <div class="col s12 animated bounceInRight">
                        {{!-- insert registration form here --}}
                        <center>
                            <div class="section white-text"></div>
                            <h4 class="white-text">Login here.</h4>
                            <br><br>
                            <div class="section"></div>
                            <a id="btn-welcome" href="/home" class='btn waves-effect grey darken-1'>Get Spredding</a>
                        </center>
                        <div class="section"></div>
                        <div class="section"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12 grey-text lighten-2">
                    <h6 class="grey-text lighten-2">Follow Me</h6>
                    <a target="_blank" href="https://twitter.com/jimtatarakis?lang=en" class="white-text">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/jamestatarakis/" class="white-text">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/james-tatarakis-9a595394/" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://github.com/JimTatarakis" class="white-text">
                        <i class="fab fa-github fa-4x"></i>
                    </a>
                </div>
            </div>

            <div class="row right">
                <div class="col s12">
                    <p class="grey-text lighten-2">Jim Tatarakis &copy; 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {{!-- Materialize: Auto Init animations --}}
    <script>M.AutoInit();</script>
    <!-- Custom JavaScript -->
    <script src="/assets/js/scrape.js"></script>
</body>

</html>