{{!-- About the App --}}
<div class="container" id="about">
    <div class="row">
        <div class="col s12 m6 animated bounceInRight">
            <div class="card transparent">
                <div class="card-content white-text">
                    <span class="card-title">Why Spreddit?</span>
                    <p>
                        Intended to provide current news now. Users are able to comment on articles and view popular articles easily and quickly. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<!-- About me -->
<div class="container" id="about">
    <div class="row">
        <div class="col s12 m6 animated bounceInRight">
            <div class="card transparent">
                <div class="card-content white-text">
                    <span class="card-title">Who I am...</span>
                    <p>
                        A junior web developer. Currently, I am working on expanding my
                        portfolio and developing my skills. My main sources of energy
                        have been my three kids and energy drinks. Learning from my
                        failures each forgotten quotation, every unclosed function I
                        learn more and more about the technical skills and the ever
                        changing profession of being a web developer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 animated bounceInLeft">
            <div class="card transparent">
                <div class="card-content white-text">
                    <span class="card-title">Who I am becoming...</span>
                    <p>
                        I am working towards becoming a well established full-stack web
                        developer. In the future, I will have a job that not only
                        supports my family, but I will be proud to have. I want to work
                        on projects outside of work as well, showing the community one
                        project at a time what technology can do to help. At heart I
                        love teaching and mentoring, I would like to use that with
                        technology as a method of helping others.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />

<!-- Follow -->
<div class="container">
    <section class="section-follow transparent white-text center" id="contact">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Follow Me</h4>
                    <p>Follow me on social media.</p>
                    <a target="_blank" href="https://twitter.com/jimtatarakis?lang=en" class="white-text">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/jamestatarakis/" class="white-text">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/james-tatarakis-9a595394/" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://github.com/JimTatarakis" class="white-text">
                        <i class="fab fa-github fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>