<!-- Contact -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel transparent white-text center">
                    <h5>Contact me if you have any questions</h5>
                    <i class="material-icons">email</i>
                    <p>Email: Jimtatarakis@gmail.com</p>
                    <i class="material-icons">call</i>
                    <p>Phone: (916)-346-3875</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Follow -->
<div class="container">
    <section class="section-follow transparent white-text center" id="contact">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Follow Me</h4>
                    <p>Follow me on social media.</p>
                    <a target="_blank" href="https://twitter.com/jimtatarakis?lang=en" class="white-text">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/jamestatarakis/" class="white-text">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/james-tatarakis-9a595394/" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                    </a>
                    <a target="_blank" href="https://github.com/JimTatarakis" class="white-text">
                        <i class="fab fa-github fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>