<section class="section-register">
    <div class="container center grey-text darken-2">
        <div class="row">
            <div class="col s12 animated bounceInRight">
                {{!-- insert registration form here --}}
                <center>
                    <div class="section"></div>
                    <h4>Login here.</h4>
                    <h6>Please, fill out form</h6>
                    <div class="section"></div>

                    <div class="container">
                        <div class="z-depth-1 grey lighten-4 row"
                            style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                            <form class="col s12" method="post">

                                <div class='row'>
                                    <div class='input-field col s12'>
                                        <input class='validate' type='email' name='email' id='login-email' />
                                        <label for='email'>Enter Email</label>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='input-field col s12'>
                                        <input class='validate' type='password' name='password' id='login-password' />
                                        <label for='password'>Enter Password</label>
                                    </div>
                                </div>

                                <br />
                                <center>
                                    <div class='row'>
                                        <button type='submit' name='btn_login' id="btn-login"
                                            class='col s12 btn btn-large waves-effect indigo darken-2'>Login</button>
                                    </div>
                                </center>
                            </form>
                        </div>
                    </div>
                    <a href="/registration">Need an account? Register.</a>
                </center>
                <div class="section"></div>
                <div class="section"></div>
            </div>
        </div>
    </div>
</section>