<br><br><br><br><br><br><br><br><br><br><br><br>
<section class="section-login">
    <div class="container center grey-text darken-2">
        <div class="row">
            <div class="col s12 animated bounceInLeft">
                <h2>Welcome.. Please login.</h2>
                {{!-- insert login form here --}}
                {{!-- insert registration btn --}}
            </div>
        </div>
    </div>
</section>