<br><br><br><br><br><br><br><br><br><br><br><br>
<section class="section-register">
    <div class="container center grey-text darken-2">
        <div class="row">
            <div class="col s12 animated bounceInRight">
                <h2>Register Here.</h2>
                {{!-- insert registration form here --}}
                {{!-- insert login btn here --}}
            </div>
        </div>
    </div>
</section>